* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000000;
    --light-blue: #005490;
}

body {
    background-color: var(--light-blue);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.enterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.enter {
    padding: 12px 20px;
    border: 1px solid var(--black);
    border-radius: 5px;
    width: 50%;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: seagreen;
    color: white;
    margin-left: 20px;
    cursor: pointer;

}

#search {
    padding: 12px 20px;
    border: 1px solid var(--black);
    border-radius: 5px;
    width: 50%;

}

#list {
    list-style: none;
    /* width: 50%; */
}

#list li {
    border: 1px solid gray;
    padding: 10px;
    background-color: var(--white);
    width: 500px;
}

#list li:hover {
    background-color: lightblue;
}